<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/peserta-sma-en">Besut Kode SMA Results</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub Repository</a>
    <a class="sidebar-nav-item" href="https://wikimedia-id.github.io/besutkode">Besut Kode Home</a>
  </nav>

  <div class="sidebar-item">
    <p style="font-size: 1em;">
      Besut Kode 2016-2017 <br>
    <a href="https://github.com/BesutKode/BesutKode.github.io/blob/master/LICENSE.md">MIT License</a>
    </p>
  </div>
</div>
