---
title: indexsma
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Besut kode adalah kompetisi online pengembangan perangkat lunak bersumber terbuka untuk pelajar SMA berumur 13-17 tahun. Pelajar diminta untuk memecahkan soal yang diberikan, dan mentor akan menyatakan peserta tersebut lolos ke putaran selanjutnya atau gugur. Peserta yang lolos, akan mendapatkan sertifikat. Mentor juga akan menganalisa peserta yang berbakat, apabila terpilih, mentor akan membantu peserta untuk dapat mengikuti Google CodeIn / Google Summer of Code.">
    <meta name="author" content="Wikimedia Indonesia">
    <title>Besut Kode</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   <li>
                        <a class="page-scroll" href="#portfolio">Tentang</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Mentor</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tugas">Tugas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#hadiah">Hadiah</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Alur Waktu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">Pertanyaan Umum</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Hubungi Kami</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            
            <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                </br>
                                </br>
                                </br>
                            </div>
                        </div>
                        <img src="img/portfolio/logo.png" class="img-responsive" alt="">
                            
        </div>
    </header>

   
    <section id="services">
        <div class="container">
            <div class="row">
            <div class="team-member">
            <img src="img/portfolio/redirect.png" class="img-responsive" alt="">
            </div>
            </div>
            <div class="col-lg-12 text-center">
                                </br>
                                </br>
                                <a href="beranda-universitas.html"><button type="submit" class="btn btn-xl">Besut Kode Universitas</button></a>
                            </div>
       
        </div>
    </section>

    
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kenapa Kamu Mesti Ikut Besut Kode?</h2>
                </div>
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading">Ada enam alasan kenapa ikut Besut Kode baik untuk kamu</h3>
                        <p>Besut kode adalah kompetisi online pengembangan perangkat lunak bersumber terbuka untuk pelajar SMA, SMK, dan MAN yang berumur 13-17 tahun. Pelajar diminta untuk memecahkan soal yang diberikan, dan mentor akan menyatakan peserta tersebut lolos ke putaran selanjutnya atau gugur. Peserta yang lolos, akan mendapatkan sertifikat. Mentor juga akan menganalisa peserta yang berbakat, apabila terpilih, mentor akan membantu peserta untuk dapat mengikuti <a href="https://developers.google.com/open-source/gci/" style="color:#166df0;"> Google CodeIn </a>/ <a href="https://developers.google.com/open-source/gsoc/" style="color:#166df0;">Google Summer of Code.</a></p>
                    </div>
                    <div class="col-lg-12">
</br>
<ol>
<li>Saat mengikuti besut kode, peserta akan memiliki profil berisi karya <i>online</i> yang mumpuni. Setiap pengembang perangkat lunak terbuka yang handal, memiliki rekam jejak karya <i>online</i>, mengikuti Besut Kode adalah kesempatan untuk memiliki rekam jejak ini dalam profil Anda. <i>Penting banget!</i></li>
</br>
<li>Anda akan diminta untuk menyiapkan dan menggunakan sistem kendali terdistribusi yang bisa disebarkan (<i>distributed version control system</i>) seperti git, dan menggunakan tempat penyimpanan terdistribusi (<i>online repositories</i>) daring seperti github.com.</li>
</br>
<li>Dengan mengikuti besut kode, Anda jadi punya pengalaman untuk menyelesaikan persoalan menggunakan algoritma rumit, sejak SMA! Biasa dengar lulus kuliah tidak punya pengalaman? Tidak harus tunggu hingga kuliah, peserta Besut Kode bisa punya pengalaman SEKARANG!</li>
</br>
<li>Pembuktian bahwa Anda <b>jagoan!</b>. Hari <i>gini</i>, ngga laki-laki, ngga perempuan, bisa jadi jagoan. Apabila Anda berhasil menyelesaikan fase I (Modul 1-5) sertifikat keberhasilan sebagai bukti Anda memiliki kemampuan menyelesaikan masalah sudah kami siapkan, dan sebuah video daring berdurasi 5 menit, bagaimana Anda, sebagai peserta memaparkan jalan penyelesaian masalah yang rumit. Bukti untuk semua orang - jempolan.</li>
</br>
<li>Dilatih oleh <b>ahlinya</b> bagaimana menjadi bagian pengembang perangkat lunak terbuka. Dalam pelatihan ini termasuk peninjauan sebuah kode dengan kualitas yang baik vs kode dengan kualitas yang buruk, test-test otomatis terintegrasi terus-menerus, bagaimana mempelajari berbagai bahasa pemrograman, dan melihat berbagai masalah yang beragam yang mungkin terjadi dalam perangkat lunak terbuka.</li>
<ol>
<li>Melihat bagaimana sebuah kode ditinjau, apakah kode memiliki kualitas yang baik vs kode dengan kualitas yang buruk</li>
<li>Mempelajari bagaimana test-test otomatis terintegrasi terus-menerus dilakukan</li>
<li>Mempelajari berbagai bahasa pemrograman, dan melihat berbagai masalah yang beragam yang mungkin terjadi dalam perangkat lunak terbuka pada kehidupan sehari-hari.</li>
<li>Memiliki pengalaman langsung mengerjakan proyek perangkat lunak terbuka yang dapat dimasukkan pada riwayat pengalaman kerja peserta.</li>
<li>Mentor juga akan menyediakan petunjuk-petunjuk praktis yang memasangkan peserta dengan tipe pengembangan perangkat lunak yang cocok dengan kemampuan mereka menyelesaikan persoalan.</li>
<li>Mentor akan memberikan rekomendasi proyek perangkat lunak terbuka yang mana yang sebaiknya peserta memfokuskan diri sehingga peserta mendapatkan pengalaman optimal secara spesifik untuk keahliannya.</li>
</ol>
</br>
<li>Peserta juga mendapatkan kesempatan untuk meraih berbagai hadiah mulai dari pulsa internet, telpon genggam, laptop dengan hadiah utama magang paruh waktu berbayar di Wikimedia Indonesia</li>
</ol>
<center></br>Ngga percaya? Denger sendiri dari Tasya</br></br>
<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/6pw4X7Bd2wI" frameborder="0" allowfullscreen></iframe>
</div>
</center>
                </div>
            </div>
        </div>
    </section>

    <!-- Mentor -->
    <section id="about">
      <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mentor Besut Kode</h2>
                    <h3 class="section-subheading text-muted">Para kontestan akan dipandu oleh mentor-mentor terbaik di bidang pengembangan perangkat lunak dari berbagai negara.</h3>
                
                </div>
        </div>
          <div class="row text-center">
          <div class="col-md-6">
                <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tasya Rukmana</h4>
                        <p class="text-muted">Singapore University of Technology and Design
                        </br>Pemenang Google Code-in 2014</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://github.com/tadityar"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/tasyaaditya.rukmana"><i class="fa fa-facebook"></i></a>
                            </li>
                    </ul>
                    </br>
                        <div class="spoiler">
                            <div class="spoiler-btn">   <button type="submit" class="btn btn-m">tentang</button>   </div>
                            <div class="spoiler-body collapse">
                        <p>Tasya Rukmana adalah pemenang Google Code-in 2014, sebelumnya bersekolah di SMA 8, Bandung saat mengikuti kompetisi Google Code-in dan menjadi salah satu pemenang. Mengantongi status sebagai salah satu pemenang Google Code-in 2014, ia mendapatkan beasiswa untuk belajar di Singapore University of Technology and Design.</p>
                            </div>
                        </div>
            </div>
            </div>
       <div class="col-md-6">
    	<div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>John Vandenberg</h4>
                        <p class="text-muted">Queensland University of Technology
                        </br>Mentor Google Code-in & Google Summer of Code</p><ul class="list-inline social-buttons">
                            <li><a href="https://github.com/jayvdb"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/johnmark.vandenberg"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                        </br>
                        <div class="spoiler">
                            <div class="spoiler-btn">   <button type="submit" class="btn btn-m">tentang</button>   </div>
                            <div class="spoiler-body collapse">
                            <p>John Vandenberg adalah lulusan dari Queensland University of Technology, Australia and telah menjadi mentor untuk Google Code-in dan Google Summer of Code sejak tahun 2015.</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>

<!-- tugas -->
<section id="tugas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Syarat & Tugas Besut Kode</h2>
                </div>
                 <div class="col-md-6 text-center">
                                <h3 class="section-heading text-center">1. Mengisi Formulir Pendaftaran</h3>
                                <a href="https://docs.google.com/forms/d/1vnRiMYYrWZbYba-gUP0Ef_nb1ApEWf-NA_XFJU_XHMU/viewform"><button type="submit" class="btn btn-xl">Daftar Di Sini</button></a>
                </div>
                <div class="col-md-6 text-center">
                                <h3 class="section-heading text-center">2. Mengikuti Langkah Pada Modul</h3>
                                <a href="modul.html"><button type="submit" class="btn btn-xl">Modul</button></a>
                </div>
                
        <div class="row">
        <div class="col-md-12 text-center">
        </br></br>
        <h4 class="section-heading text-center">Contoh Soal Project Euler</h4>
        <div class="spoiler">
        <div class="spoiler-btn"><button type="submit" class="btn btn-xl">contoh soal</button></div>
        <div class="spoiler-body collapse">
        </br>
        <h4>Mengamati Piramida Pascals</h4>
        <div class="col-lg-pull-12">
        Jika kita membuat daftar semua bilangan asli yang lebih kecil daripada 10 yang merupakan kelipatan 3 atau 5, maka kita akan mendapatkan 3, 5, 6, dan 9. Jumlah dari bilangan-bilangan tersebut adalah 23.
        <p>Tentukanlah jumlah dari semua bilangan kelipatan 3 atau 5 yang lebih kecil daripada 1000.</p>
        <div class="spoiler">
        <div class="spoiler-btn"><button type="submit" class="btn btn-xl">Solusi Jawaban</button></div>
        <div class="spoiler-body collapse">
        <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IJ_KbysqJ4M" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
            </div>
        </div>
</section>

<!-- Hadiah -->
    <section id="hadiah">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hadiah-hadiah Besut Kode</h2>
                    <h3 class="section-subheading text-muted">Berikut adalah hadiah-hadiah yang bisa Anda dapatkan apabila Anda berhasil menyelesaikan beberapa tahap BesutKode</h3>
                    </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sertifikat dari Wikimedia Indonesia</h4>
                    <p class="text-muted">Pengakuan tertulis dari mentor Besut Kode yang menyatakan bahwa Anda mampu menyelesaikan Putaran I Besut Kode dan seluruh tugas yang terdapat pada Modul 1 hingga 5</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pulsa Ponsel</h4>
                    <p class="text-muted">Pulsa ponsel yang dapat digunakan untuk berselanjar diinternet sebesar Rp. 100,000,- (seratus ribu rupiah) akan diberikan pada 5 kelompok terbaik yang berkolaborasi menyelesaikan permasalahan yang sulit secara bersama. Satu kelompok beranggotakan 3 - 5 orang dan tiap anak akan mendapatkan seratus ribu berupa pulsa apabila kelompoknya dinyatakan keluar sebagai kelompok terbaik.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Laptop ASUS X455L</h4>
                    <p class="text-muted">Dianugrahkan kepada lima anak yang dinyatakan oleh mentor berhasil menyelesaikan Putaran 2 dengan nilai terbaik.</p>
                </div>
            </div>
            </br>
            </br>
            </br>
            <div class="team-member">
            <img src="img/logos/intern.jpg" class="img-responsive img-circle" alt="">
                <div class="col-md-12 text-center">
                    <h4 class="service-heading">Magang Berbayar di Wikimedia Indonesia</h4>
                    <p class="text-muted">Hadiah utama program Besut Kode.</p>
                    </div>
            </div>
        
        </div>
    </section>


    <!-- timeline -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alur Waktu Besut Kode</h2>
                    <h3 class="section-subheading text-muted">Berikut adalah alur waktu pelaksanaan kompetisi Besut Kode</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 Juni 2016</h4>
                                    <h4 class="subheading">Pendaftaran Besut Kode Dibuka</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wikimedia akan mengakomodasi 500 pendaftar BesutKode tingkat SMA dari berbagai lokasi di Indonesia. </br>Gelombang I (27 Juni - 20 Juli) </br>Gelombang II (21 Juli - 20 Agustus) </br>Gelombang III (21 Agustus - 20 September)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>30 Juli 2016</h4>
                                    <h4 class="subheading"><a href="https://www.facebook.com/126570256084/photos/?tab=album&album_id=10154354251231085" style="color:#166df0;">Lokakarya I</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Presentasi mentor Besut Kode, John Vandenberg, bisa Anda simak pada <b>pranala berikut <a href="https://prezi.com/5eqcwgltfptl/besut-kode-google-code-in/" style="color:#166df0;">ini</a></b>.</br>Saksikan wawancara dengan pemenang Google Code-in dari Indonesia, Tasya Aditya Rukmana, melalui <b>pranala berikut <a href="https://youtu.be/Sj_NST0OhUc" style="color:#166df0;">ini</a></b>.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2a.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 Agustus 2016</h4>
                                    <h4 class="subheading">Lokakarya II</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pendaftaran Gelombang II (21 Juli - 20 Agustus) ditutup. Satu bulan setelah pendafataran Gelombang II dibuka Wikimedia akan menyelenggarakan Pertemuan II (lokasi ditentukan kemudian) untuk seluruh peserta yang berhasil menyelesaikan modul 1-5 untuk datang dan menerima pengarahan mengenai kolaborasi dan tahapan selanjutnya (modul 6). Sementara peserta Gelombang I yang lolos, akan mendalami mentoring intensif daring (online) dan penilaian untuk lolos/ gugur.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25 September 2016</h4>
                                    <h4 class="subheading">Lokakarya III dan Mentoring Intensif</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pendaftaran Gelombang III (21 Agustus - 20 September) ditutup. Periode ini adalah gelombang terakhir Kompetisi "Besut Kode" untuk SMA (HABIS). Seperti peserta gelombang sebelumnya, peserta Gelombang III (akhir) memiliki satu bulan setelah mendaftar (21 Agustus - 20 September) dan menyelesaikan modul 1 - 5. Peserta yang berhasil akan bergabung dengan peserta yang lolos dari gelombang sebelumnya. Peserta tahap SMA yang lolos dan bersedia akan menerima pemantapan untuk diikut sertakan dalam Google CodeIn </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>29 Oktober 2016</h4>
                                    <h4 class="subheading">Penyerahan Sertifikat & Hadiah</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Penganugrahan lima komputer jinjing, sertifikat, dan pengumuman peserta yang lolos magang berbayar di Wikimedia Indonesia selama satu tahun.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Google Code-in &</br>Google Summer of Code</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Beberapa peserta terpilih BesutKode akan diikutkan dalam kompetisi Google Code-in atau Google Summer of Code 2017 (tergantung waktu penyelenggaraan oleh Google)</p>
                                </div>
                            </li>
                            <li>
                            <div class="timeline-image">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
                
            </div>
    </section>

<!-- blog -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog Besut Kode</h2>
		    <h3 class="section-subheading text-muted">Blog Terbaru</h3>
            </div>
	
		<!-- point A -->
<div class="row">
    <div class="col-md-12">
        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-danger" role="tablist">
                    <li class="active">
                        <a href="#id" role="tab" data-toggle="tab">
                            Bahasa Indonesia
                        </a>
                    </li>
                    <li>
                        <a href="#en" role="tab" data-toggle="tab">
                            English
                        </a>
                    </li>
                </ul>

                <div class="tab-content gallery">
                
                    <div class="tab-pane active" id="id">
                        <div class="row">
                            <div class="col-md-12">
                            
                                <div class="input-group">
						{% for post in site.categories['SMA-id'] %}
						    <div class="vote-item">
							<div class="row">
							    <div class="col-md-12">
								<a href="{{ post.url }}" class="vote-title"> <h3> {{ post.title }} </h3> </a>
								<i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }} 
								</br>
								</br>
							    </div>
							</div>
						    </div>
						{% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>	
                                                                                    
                    <div class="tab-pane" id="en">
                        <div class="row">
                            <div class="col-md-12">
                            
                                <div class="input-group">
						{% for post in site.categories['SMA-en'] %}
						    <div class="vote-item">
							<div class="row">
							    <div class="col-md-12">
								<a href="{{ post.url }}" class="vote-title"> <h3> {{ post.title }} </h3> </a>
								<i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }} 
								</br>
								</br>
							    </div>
							</div>
						    </div>
						{% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>	
                
                </div>
            </div>
        </div>
    </div>
</div>
		<!-- point B -->
		


        </div>
    </div>
</section>

    <!-- FAQ -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pertanyaan Umum</h2>
                    <h3 class="section-subheading text-muted">Berikut adalah beberapa pertanyaan umum kompetisi Besut Kode</h3>
                </div>
                <div class="col-lg-12">
                    <b>Tanya: Apabila saya ada pertanyaan dan menulis ke info@wikimedia.or.id, berapa lama hingga ada yang membalas surel saya?</b></br>
                    Jawab: Maksimum 3 hari kerja pertanyaan Anda akan dijawab, KECUALI ada libur panjang seperti libur lebaran. Apabila pertanyaan Anda belum dijawab, bisa dikirimkan lagi via surel dan menginfomasikan hal ini via <b>Facebook <a href="https://www.facebook.com/wikimedia.indonesia" style="color:#166df0;">Wikimedia Indonesia</a></b></br></br>
                    <b>Tanya: Apa yang digunakan sebagai bukti peserta bahwa peserta sudah menyelesaikan modul 2?</b></br>
                    Jawab: Seluruh peserta yang telah menyelesaikan modul 2 daftarnya bisa dilihat pada pranala <b><a href="https://github.com/BesutKode/BesutKode.github.io/blob/master/peserta.md" style="color:#166df0;">berikut</a></b>, Pranala ini publik, sehingga bisa dilihat oleh semua orang yang memiliki akun github.</br>
                    Kemudian Wikimedia Indonesia memasukkan peserta yang telah menyelesaikan modul 2 pada pranala <b>berikut <a href="https://github.com/orgs/BesutKode/teams/peserta" style="color:#166df0;">ini</a></b></br></br>
                    <b>Tanya: Untuk lolos ke tahap berikutnya apakah hanya mengerjakan sampai modul ke 2?</b></br>
                    Ya, penyelesaian modul 2 menjadi penanda bahwa peserta bisa datang untuk lokakarya awal dan bertemu dengan mentor.</br>
                    Namun kompetisi mengharuskan peserta tetap mengikuti tahap berikutnya, dan peserta bisa saja gugur setelah lokakarya awal. Tahap berikutnya setelah modul 2 peserta harus menyelesaikan modul 3, 4, dan 5. Modul tidak bisa "diloncat", modul 3: memposting kode, modul 4: kolaborasi, dan modul 5: membuat video mengenai kode dan kolaborasi.</br>
                    Pada Modul 3 peserta memiliki direktori (dengan nama pengguna serta kode yang mereka masukkan) pada <b>pranala <a href="https://github.com/BesutKode/solusi" style="color:#166df0;">ini</a>.</b></br>
                    Pranala diatas menunjukkan kontributor dengan banyak suntingan yang mereka lakukan.</br></br>
                    <b>Tanya: Bahasa pemrograman apa yang bisa saya gunakan untuk menjawab tugas di Project Euler?</b></br>
                    Jawab: Anda bisa menggunakan bahasa pemrograman yang Anda kuasai, baik itu python, C#, C/ C++, Java, Clojure, Delphi dsb. Pada cuplikan gambar berikut bisa Anda lihat berbagai bahasa pemrograman yang digunakan untuk menyelesaikan masalah dari Indonesia. Satu satunya yang tidak diperkenankan adalah menggunakan pensil dan kertas, karena ini lomba mengkode menggunakan komputer :D</br></br>
                    <img src="img/portfolio/Project Euler FAQ.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <!-- kontak -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hubungi Kami</h2>
                    <h3 class="section-subheading text-muted">Untuk pertanyaan seputar Besut Kode Anda bisa menghubungi kami di:</h3>
                    <h4 class="section-subheading text-muted" style="color:white">E-mail: info@wikimedia.or.id  |  Telephone: 021 - 3193 4641</h3>
                </div>
            </div>            
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Besut Kode 2016-2017 | <a href="http://creativecommons.or.id/" style="color:#166df0;">CC-BY-NC 4.0</a></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/wikimediaid"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/wikimedia.indonesia"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80001227-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>

</html>
