---
title: index
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Besut Kode Universitas adalah kompetisi dalam jaringan (online) pengembangan perangkat lunak bersumber terbuka untuk mahasiswa/i D3/ Universitas umur 18-25 tahun. Peserta diuji dengan tantangan berjenjang menggunakan skematik kompetisi “Google Summer of Code”. Kemampuan peserta dalam mengaplikasikan kemampuan rekayasa perangkat lunak terbuka akan dibandingkan dengan keahlian yang diperlukan untuk berkontribusi pada proyek-proyek dari perusahaan dan organisasi dunia seperti: mozilla, drupal, python, git, dan eclipse. Peserta mengetahui apa yang diperlukan untuk menjadi pemrogram handal. Daftar, cari tahu tingkat keahlianmu, dan bandingkan dengan keahlian yang diperlukan kini untuk menjadi pemrogram handal tingkat internasional Google Summer of Code.">
    <meta name="author" content="Wikimedia Indonesia">
    <title>Besut Kode Universitas</title>

    <link rel="shortcut icon" href="besutkode/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   <li>
                        <a class="page-scroll" href="#portfolio">Tentang</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Mentor</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tugas">Tugas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#hadiah">Hadiah</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Alur Waktu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Hubungi Kami</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            
            <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                </br>
                                </br>
                                </br>
                            </div>
                        </div>
                        <img src="img/portfolio/logouniv.png" class="img-responsive" alt="">
                            
        </div>
    </header>

   
    <section id="services">
        <div class="container">
            <div class="row">
            <div class="team-member">
            <img src="img/endofBKU.png" class="img-responsive" alt="">
            </div>
            </div>
            <div class="col-lg-12 text-center">
                                </br>
                                </br>
                                <a href="https://www.facebook.com/wikimedia.indonesia/"><button type="submit" class="btn btn-black">Facebook<br/>Wikimedia Indonesia</button></a>
                            </div>
       
        </div>
    </section>

    
    <section id="portfolio" class="bg-light-pink">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kenapa Kamu Mesti Ikut Besut Kode Universitas?</h2>
                </div>
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading">Ada tujuh alasan utama kenapa ikut Besut Kode Universitas baik untuk kamu</h3>
                        <p>Besut Kode Universitas adalah kompetisi online pengembangan perangkat lunak bersumber terbuka untuk mahasiswa berumur 17-24 tahun. Mahasiswa diminta untuk memecahkan soal yang diberikan, dan mentor akan menyatakan peserta tersebut lolos ke putaran selanjutnya atau gugur. Peserta yang lolos, akan mendapatkan sertifikat. Mentor juga akan menganalisa peserta yang berbakat, apabila terpilih, mentor akan membantu peserta untuk dapat mengikuti <a href="https://developers.google.com/open-source/gsoc/" style="color:#166df0;">Google Summer of Code.</a></p>
                    </div>
                    <div class="col-lg-12">
</br>
<ol>
<li>Saat mengikuti besut kode, peserta akan memiliki profil berisi karya <i>online</i> yang mumpuni. Setiap pengembang perangkat lunak terbuka handal akan memiliki rekam jejak karya <i>online</i>, mengikuti Besut Kode adalah kesempatan untuk memiliki rekam jejak ini dalam profil Anda. <i>Penting nih!</i></li>
</br>
<li>Anda akan diminta untuk menyiapkan dan menggunakan sistem kendali terdistribusi yang bisa disebarkan (<i>distributed version control system</i>) seperti git, dan menggunakan tempat penyimpanan terdistribusi (<i>online repositories</i>) daring seperti github.com.</li>
</br>
<li>Dengan mengikuti besut kode, Anda jadi punya pengalaman untuk menyelesaikan persoalan menggunakan algoritma rumit, sejak kuliah! Biasa dengar lulus kuliah tidak punya pengalaman? Peserta Besut Kode bisa membangun pengalamannya sejak SEKARANG!</li>
</br>
<li>Dengan mengerjakan tugas-tugas Besut Kode, Anda sekaligus membangun jaringan internasional dari organisasi-organisasi kontributor perangkat lunak terbuka yang dapat menjamin kemampuan Anda dalam bekerja secara independen tanpa pengawasan, memiliki inisyatif <-- kualitas kualitas penting dalam mendapatkan pekerjaan secara daring di tingkat dunia.
</li>
</br>
<li>Ciptakan kredibilitas diri saat melamar kerja, karena kontribusi Anda saat mengikuti Besut Kode terbuka untuk ditinjau secara publik, dan Anda mendapatkan pengalaman sembari berkontribusi mengembangkan perangkat lunak terbuka (<i>Open Source</i>) di dunia nyata 
</li>
</br>
<li>Dilatih oleh <b>ahlinya</b> bagaimana menjadi bagian dari komunitas pengembang perangkat lunak terbuka. Dalam pelatihan ini termasuk peninjauan sebuah kode dengan kualitas yang baik vs kode dengan kualitas yang buruk, test-test otomatis terintegrasi terus-menerus (CI), belajar berbagai bahasa pemrograman, dan melihat berbagai masalah yang beragam yang mungkin terjadi dalam perangkat lunak terbuka.
</li>
<ol>
<li>Melihat bagaimana sebuah kode ditinjau, apakah kode memiliki kualitas yang baik vs kode dengan kualitas yang buruk</li>
<li>Mempelajari bagaimana test-test otomatis terintegrasi terus-menerus dilakukan</li>
<li>Mempelajari berbagai bahasa pemrograman, dan melihat berbagai masalah yang beragam yang mungkin terjadi dalam perangkat lunak terbuka pada kehidupan sehari-hari.</li>
<li>Memiliki pengalaman langsung mengerjakan proyek perangkat lunak terbuka yang dapat dimasukkan pada riwayat pengalaman kerja peserta.</li>
<li>Mentor juga akan menyediakan petunjuk-petunjuk praktis yang memasangkan peserta dengan tipe pengembangan perangkat lunak yang cocok dengan kemampuan mereka menyelesaikan persoalan.</li>
<li>Mentor akan memberikan rekomendasi proyek perangkat lunak terbuka yang mana yang sebaiknya peserta memfokuskan diri sehingga peserta mendapatkan pengalaman optimal secara spesifik untuk keahliannya.</li>
</ol>
</br>
<li>Peserta juga mendapatkan kesempatan untuk meraih berbagai hadiah mulai dari pulsa internet, telpon genggam, laptop dengan hadiah utama magang paruh waktu berbayar di Wikimedia Indonesia</li>
</ol>
<center></br>Saksikan seminar John Vandenberg yang menjelaskan tentang Besut Kode Universitas dan open source serta GitHub</br></br>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yb6oL4HqzhU" frameborder="0" allowfullscreen></iframe>
    </div>
</center>
                </div>
            </div>
        </div>
    </section>

    <!-- Mentor -->
    <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mentor Besut Kode</h2>
                <h3 class="section-subheading text-muted">Para kontestan akan dipandu oleh mentor-mentor terbaik di bidang pengembangan perangkat lunak terbuka dari Australia & Indonesia</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>John Vandenberg</h4>
                    <p class="text-muted">Queensland University of Technology
                    </br>Mentor Google Code-in & Google Summer of Code</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/jayvdb"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.facebook.com/johnmark.vandenberg"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    </br>
                    <div class="spoiler">
                        <div class="spoiler-btn">   <button type="submit" class="btn btn-m">tentang</button>   </div>
                            <div class="spoiler-body collapse">
                                <p>John Vandenberg adalah lulusan dari Queensland University of Technology, Australia and telah menjadi mentor untuk Google Code-in dan Google Summer of Code sejak 2015.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-member">   
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Hendy Irawan</h4>
                    <p class="text-muted">Magister Teknik Elektro, Institut Teknologi Bandung
                    </br>Alumni Google Summer of Code 2015</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    </br>
                    <div class="spoiler">
                        <div class="spoiler-btn">   <button type="submit" class="btn btn-m">tentang</button>   </div>
                            <div class="spoiler-body collapse">
                                <p>Hendy Irawan adalah Alumni Google Summer of Code 2015 & Alumni Microsoft Imagine Cup 2005.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

<!-- tugas -->
<section id="tugas" class="bg-light-pink">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Syarat & Tugas Besut Kode</h2>
                    <h3 class="section-heading">Putaran I</h3>
                </div>
                 <div class="col-md-6 text-center">
                                <h3 class="section-heading text-center">1. Mengisi Formulir Pendaftaran</h3>
                                <a href="https://docs.google.com/a/wikimedia.or.id/forms/d/e/1FAIpQLScQUn88sB26uuiYouxVibeVqU-hvRNY5KYGbX84Dqx-iYWvTw/viewform"><button type="submit" class="btn btn-black">Daftar Di Sini</button></a>
                </div>
                <div class="col-md-6 text-center">
                                <h3 class="section-heading text-center">2. Modul</h3>
                                <a href="university-modules-id.html"><button type="submit" class="btn btn-black">Tugas Awal</button></a>
                </div>
                
        <div class="row">
        <div class="col-md-12 text-center">
        </br></br>
        <h4 class="section-heading text-center">Diagram Kompetisi Besut Kode Universitas</h4>
        <div class="spoiler">
        <div class="spoiler-btn"><button type="submit" class="btn btn-black">Flowchart Babak Eliminasi</button></div>
        <div class="spoiler-body collapse">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="img/flowchart_clean_eliminasi.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 text-center">
                    <img src="img/flowchart_clean_legend_eliminasi.png" class="img-responsive" alt="">
                </div>
            </div>
        <div class="col-lg-pull-12">
        <div class="spoiler">
        <div class="spoiler-btn"><button type="submit" class="btn btn-black">Diagram Pendaftaran</button></div>
        <div class="spoiler-body collapse">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="img/flowchart_clean.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 text-center">
                    <img src="img/flowchart_clean_legend.png" class="img-responsive" alt="">
                </div>
            </div>    
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    
            </div>
        </div>
</section>

<!-- Hadiah -->
    <section id="hadiah">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hadiah-hadiah Besut Kode</h2>
                    <h3 class="section-subheading text-muted">Berikut adalah hadiah-hadiah yang bisa Anda dapatkan apabila Anda berhasil menyelesaikan beberapa tahap BesutKode</h3>
                    </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sertifikat dari Wikimedia Indonesia</h4>
                    <p class="text-muted">Pengakuan tertulis dari mentor Besut Kode yang menyatakan bahwa Anda mampu menyelesaikan babak eliminasi Besut Kode Universitas dan seluruh tugasnya</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Menghadiri FOSSASIA 2017 di Singapore</h4>
                    <p class="text-muted">Dua peserta Besut Kode Universitas terbaik akan kami ikut sertakan menghadiri acara <a href="http://2017.fossasia.org/">FOSSASIA 2017</a> yang diselenggarakan di Singapore pada 17-19 Maret 2017. Semua biaya ditanggung.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Laptop ASUS X455L</h4>
                    <p class="text-muted">Dianugrahkan kepada dua mahasiswa yang dinyatakan terbaik oleh mentor.</p>
                </div>
            </div>
            </br>
            </br>
            </br>
            <div class="team-member">
            <img src="img/logos/intern.jpg" class="img-responsive img-circle" alt="">
                <div class="col-md-12 text-center">
                    <h4 class="service-heading">Magang Berbayar di Wikimedia Indonesia</h4>
                    <p class="text-muted">Hadiah utama program Besut Kode.</p>
                    </div>
            </div>
        
        </div>
    </section>


    <!-- timeline -->
    <section id="team" class="bg-light-pink">
        <div class="container">
            <div class="row">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alur Waktu Besut Kode</h2>
                    <h3 class="section-subheading text-muted">Berikut adalah alur waktu pelaksanaan kompetisi Besut Kode Universitas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21 September 2016</h4>
                                    <h4 class="subheading">Pendaftaran Besut Kode Universitas Dibuka</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wikimedia akan mengakomodasi 1000 pendaftar BesutKode tingkat Universitas khusus untuk Mahasiswa yang terdaftar di perguruan tinggi yang diakui oleh <a href="http://ban-pt.kemdikbud.go.id/hasil_aipt.php"><b>BAN-PT di Indonesia</b></a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2more.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20 Oktober 2016</h4>
                                    <h4 class="subheading">Pendaftaran Besut Kode Universitas DITUTUP</h4>
                        
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20 Oktober - 20 November 2016</h4>
                                    <h4 class="subheading">Babak Eliminasi</h4>
                        
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2less.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20 November 2016</h4>
                                    <h4 class="subheading">Pengumuman Hasil Eliminasi</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10 & 12 Desember 2016</h4>
                                    <h4 class="subheading">Lokakarya Intensif Jakarta dan Yogyakarta</h4>
                                </div>
                                <div class="timeline-body">
                                    
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10 Februari 2017</h4>
                                    <h4 class="subheading">Pengumuman Pemenang Besut Kode Universitas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Penganugrahan penghargaan Besut Kode Universitas, dan pengumuman peserta yang lolos magang berbayar di Wikimedia Indonesia.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Maret 2017</h4>
                                    <h4 class="subheading">Google Summer of Code</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Beberapa peserta terpilih Besut Kode Universitas akan diikutkan dalam kompetisi Google Summer of Code</p>
                                </div>
                            </li>
                            <li>
                            <div class="timeline-image">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
                
            </div>
    </section>

<!-- blog -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog Besut Kode</h2>
		    <h3 class="section-subheading text-muted">Blog Terbaru</h3>
            </div>

<div class="row">
    <div class="col-md-12">
        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-danger" role="tablist">
                    <li class="active">
                        <a href="#id" role="tab" data-toggle="tab">
                            Bahasa Indonesia
                        </a>
                    </li>
                    <li>
                        <a href="#en" role="tab" data-toggle="tab">
                            English
                        </a>
                    </li>
                </ul>

                <div class="tab-content gallery">
                
                    <div class="tab-pane active" id="id">
                        <div class="row">
                            <div class="col-md-12">
                            
                                <div class="input-group">
						{% for post in site.categories['Universitas-id'] %}
						    <div class="vote-item">
							<div class="row">
							    <div class="col-md-12">
								<a href="{{ post.url }}" class="vote-title"> <h3> {{ post.title }} </h3> </a>
								<i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }} 
								</br>
								</br>
							    </div>
							</div>
						    </div>
						{% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>	
                                                                                    
                    <div class="tab-pane" id="en">
                        <div class="row">
                            <div class="col-md-12">
                            
                                <div class="input-group">
						{% for post in site.categories['Universitas-en'] %}
						    <div class="vote-item">
							<div class="row">
							    <div class="col-md-12">
								<a href="{{ post.url }}" class="vote-title"> <h3> {{ post.title }} </h3> </a>
								<i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }} 
								</br>
								</br>
							    </div>
							</div>
						    </div>
						{% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>	
                
                </div>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</section>

    <!-- kontak -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hubungi Kami</h2>
                    <h3 class="section-subheading text-muted">Untuk pertanyaan seputar Besut Kode Universitas, Anda bisa menghubungi komunitas Besut Kode di bawah ini:</h3>
                    <h4 class="section-subheading text-muted" style="color:white">
                        <a href="https://telegram.me/joinchat/D9IRcQqFMoIiieZe5YYb_w">Telegram</a> | <a href="https://web.telegram.org/#/login">Telegram Web App</a></br>
                        <a href="https://www.facebook.com/groups/gsoc.indonesia">Group Facebook Google Summer of Code Indonesia</a></br>
                </div>
            </div>            
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Besut Kode 2016-2017 | <a href="https://creativecommons.org/licenses/by/4.0/" style="color:#166df0;">CC-BY 4.0</a></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/wikimediaid"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/wikimedia.indonesia"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80001227-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>

</html>
