<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/archive/besutkode2016/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/archive/besutkode2016/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/archive/besutkode2016/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   <li>
                       <a class="page-scroll" href="/archive/besutkode2016/beranda/#blog">Beranda</a> 
                    </li>
                    <li>
                       <a class="page-scroll" href="#top">Kembali ke atas</a> 
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Services Section -->
    <section id="top">
        {% assign author = site.data.authors[page.author] %}
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <h1>{{ page.title }}</h1>
                Oleh: <a href="{{ author.github }}">{{ author.name }}</a>
                </br> <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                    </br>
                    </br>
                    </br>
                {{ content }}
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h5 style="display: inline;">Tags:</h5>
                                {% for tag in page.tags %}
                                    <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                {% endfor %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </footer>

    
    <!-- jQuery -->
    <script src="/archive/besutkode2016/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/archive/besutkode2016/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/archive/besutkode2016/js/classie.js"></script>
    <script src="/archive/besutkode2016/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/archive/besutkode2016/js/jqBootstrapValidation.js"></script>
    <script src="/archive/besutkode2016/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/archive/besutkode2016/js/agency.js"></script>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-104499174-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>
